/* img{
    width:15%;
    height:25%;

} */
body{
    background-color: #eaf6f6;
    
}
h1,h2{
    color:#66bfbf;
}
hr{
    width:10%;
    
    border-top:5px dotted grey;
    
   

}